* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    align-items: flex-start; /*eixo y*/
    justify-content: space-between; /*eixo x*/
    flex-wrap: wrap; /*Quebra a linha*/
    align-content: flex;
    background: yellow;
    height: 640px;
    width: 640px;
} /*Display flex, align center, justify center, melhores maneira de centralizar um elemento*/

.flex-item {
    color: white;
    width: 320px;
    background: red;
    
}
