* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    background: yellow;
    flex-flow: row wrap;
} /*Display flex, align center, justify center, melhores maneira de centralizar um elemento*/

.flex-item {
    flex-grow: 1; /*Permite o elemento crescer */
    flex-basis: 320px; /*Define o tamanho para todos*/
    flex-shrink: 1; /*Permite ao elemento diminuir*/
    flex: 1 1 320px; /*Juntar os 3 flex em um atalho*/
    height: 200px;
    color: white;
    background: red;
}


