* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    background: yellow;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: 800px;
} /*Display flex, align center, justify center, melhores maneira de centralizar um elemento*/

.flex-item {
    width: 100%;
    color: white;
    background: red;
}

.flex-item:nth-child(1) {
    order: -3;
}

.flex-item:nth-child(2) {
    order: -4;
}

.flex-item:nth-child(3) {
    order: -1;
}

.flex-item:nth-child(4) {
    order: -2;
}



